@media (max-width: 550px){
    .name-sec{
        flex-direction: column;
        gap: 0em;
    }
}

@media (max-height: 850px){

    html body{
    height: auto;
    padding: 2em;
    }
}