*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
html body{
    /* height: 100vh;
    width: 100%; */
    background-color: #7f5ef7;;
    padding: 2em;
    display: flex;
}

.container{
    height: auto;
    width: 35em;
    background-color: #ffffff;
    padding: 4em 3em ;
    border-radius: 5px;
    margin: auto;
}

.f-27{
    font-size: 27px;
    margin-bottom: 0.2em;
}
.f-14{
    margin-bottom: 1.3em;
    font-size: 14px;
}
span{
    font-size: 14px;
}

.f-21{
    font-size: 21px;
    margin-bottom: 0.3em;
}

.line{
    height: 2px;
    background-color: #cccccc;
}
form{
    margin: 1em 0;
}

.name-sec{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

/* .name-sec, input{
    display: flex;
    width: 13em;
    justify-content:

} */

input{
    height: 3.5em;
    width: 100%;
    margin: 0.5em 0;
    outline: none;
    padding-left: 1em;
    border: 1px solid #cccccc;
}

select{
    height: 3.5em;
    width: 100%;
    margin: 0.5em 0;
    outline: none;
    padding-left: 1em;
    border: 1px solid #cccccc;
    background-color: white;
}

textarea{
    font-size: 14px;
    height: 10em;
    width: 100%;
    padding-top: 0.5em;
    margin: 0.5em 0;
    outline: none;
    padding-left: 1em;
    border: 1px solid #cccccc;
    resize: none;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    height: 2.7em;
    width: 9em;
    background-color: #7f5ef7;
    color: white;
    border: none;
    border-radius: 5px;
}

 .submit{
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
 }